<div class="centered-content">
  <div class="white-box">
    
    <div *ngIf="key">
      <h1 class="title has-text-primary">Reset Password</h1>
      <p class="forgot-password-text">Please enter your new password.</p>
      
      <div class="field">
        <p class="control has-icons-left">
          <input #passwordInput type="password" placeholder="Password" class="input has-background-light">
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <p class="control has-icons-left">
          <input #confirmPasswordInput type="password" placeholder="Confirm Password" class="input has-background-light">
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>
      
      <div class="field">
        <div class="buttons is-pulled-right">
          <button class="button" routerLink="/login">Cancel</button>
          <button class="button is-primary has-text-white" (click)="onSubmitClick(key, passwordInput.value, confirmPasswordInput.value)">Submit</button>
        </div>
      </div>
      
    </div>
    
    <div *ngIf="!key">
      <h1 class="title has-text-primary">Forgot Password</h1>
      <p class="forgot-password-text">Please enter the email address associated with your account.</p>

      <div class="field">
        <p class="control has-icons-left has-icons-right">
          <input #emailInput type="email" placeholder="Email" class="input has-background-light">
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
        </p>
      </div>

      <div class="field">
        <div class="buttons is-pulled-right">
          <button class="button" routerLink="/login">Login</button>
          <button class="button is-primary has-text-white" (click)="onResetPasswordClick(emailInput.value)">Reset Password</button>
        </div>
      </div>

    </div>


  </div>
</div>