// Import Fonts (Lato and Nunito)
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Nunito:400,700');

$turquoise: #44ddd0;
$green: #27d7a1;
$light-green: #45f69e; 
$dark-green: rgb(0, 100, 80);
$link: $turquoise;
$light: #f8f8f8;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$primary: $green;



// Update some of Bulma's component variables
$control-border-width: 0.125rem;
$input-border-color: transparent;
$input-shadow: none;


.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

.modal-box {
  min-height: 12.5rem;
  width: 100%;
  max-width: 36.25rem;
  background: white;
  border-radius: 0.3rem;
  padding: 2rem;
}

::ng-deep .title {
  font-family: 'Lato';
  font-size: 2rem;
  // text-transform: uppercase;
  letter-spacing: 0.125rem;
}

.white-box {
  padding: 2.5rem;
  background: white;
  border-radius: 0.5rem;
}

.mat-mdc-snack-bar-container {
  width: 22rem;
  --mdc-snackbar-supporting-text-color: #ffffff;

  &.snackbar-success { --mdc-snackbar-container-color:#339900; }
  &.snackbar-info { --mdc-snackbar-container-color:#3778bb; }
  &.snackbar-error { --mdc-snackbar-container-color:#cc3300; }
  &.snackbar-warning { --mdc-snackbar-container-color:#e18001; }
}
