@import '../../../main-styles.scss';

.task-manager-container {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 64rem;
  max-height: 45rem;
}

.sidebar {
  display: flex;
  flex-direction: column;

  min-width: 16rem;
  max-width: 16rem;
  background-color: white;
  padding: 1rem 1.5rem 2.6rem 1.5rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;

  .top-bar {
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;

    .title {
      flex-grow: 1;
      margin: 0;
    }

    .logout-button {
      width: 2.5rem;
      height: 2.5rem;
    }
  }

  .list-title {
    padding: 1rem 1.5rem 0 1.5rem;
  }

  .list-menu {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .list-menu-item {
      display: flex;
      align-items: center;
      margin-bottom: 0.5rem;
      border-radius: 0.5rem;

      &.is-active {
        color: $dark-green;
        font-weight: bold;
      }

      .list{
        display: flex;
        align-items: center;
        flex-grow: 1;
        padding-left: 0.3rem;
        max-width: 9rem;
        color: #5f5f5f;
        overflow-x: hidden;
      }

      &:hover {
        &:not(.is-active) {
          background-color: $light;
        }

        .list-buttons {
          transition: opacity 0.2s ease-in-out, transform 0.3s;
          transform: scale(.6);
          opacity: 1;
        }
      }

      &:active {
        transform: scale(.95);
      }

      .list-buttons {
        transition: opacity 0.2s ease-in-out, transform 0.3s;
        display: inline-flex;
        max-width: 1rem;
        opacity: 0;
        transform: scale(.5);
      }
    }
  }
}

.task-list-container {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-direction: column;

  padding: 2.6rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}


.task {
  display: flex;
  background: white;
  border-radius: 0.5rem;
  margin-top: 0.6rem;
  align-items: center;

  cursor: pointer;
  transition: box-shadow 0.2s ease, padding 0.2s ease-in-out, transform 0.2s ease-in-out;

  &:active {
    transform: scale(.95);
  }

  &:hover {
    box-shadow: 0 0 0 0.3rem #eeeeee;

    .task-buttons {
      transition: opacity 0.2s ease-in-out, transform 0.3s;
      transform: scale(.7);
      opacity: 1;
    }
  }

  &:not(.completed) {
    padding: 0.3rem 1.25rem;
  }

  &.completed .task-text {
    text-decoration: line-through;
    opacity: 0.6;
    padding: 0 1.25rem;

    .task-buttons {
      padding: 0.3rem 1.25rem;
    }
  }

  .task-text {
    flex-grow: 1;
    max-width: 37rem;
  }

  .task-buttons {
    display: inline-flex;
    transition: opacity 0.2s ease-in-out, transform 0.3s;
    right: 3rem;
    opacity: 0;
    transform: scale(.5);
    max-width: 1rem;
  }
}

.circle-add-button {
  height: 4rem;
  width: 4rem;
  position: absolute;
  background: $primary;
  border-radius: 50%;
  bottom: 2rem;
  right: 1.6rem;

  .circle-add-button-icon {
    transform: scale(2);
  }
}

.empty-state-text {
  font-size: 1.25rem;
  color: #888;
  text-align: center;
}