<div class="centered-content">

  <div class="task-manager-container">

    <div class="sidebar has-background-white">
      <div class="top-bar">

        <div class="dropdown is-hoverable is-left">
          <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
              <span class="icon is-small">
                <i class="fas fa-user" aria-hidden="true"></i>
              </span>
            </button>
          </div>
          <div class="dropdown-menu" id="dropdown-menu3" role="menu">
            <div class="dropdown-content">
              <a class="dropdown-item">Settings</a>
              <a class="dropdown-item has-text-danger" (click)="this.authService.logout()">Sign Out</a>
            </div>
          </div>
        </div>

      </div>

      <h1 class="title list-title has-text-primary">
        Lists
      </h1>
      <!-- List Elements -->
      <div class="list-menu">
        <div *ngIf="lists">
          <div class="list-menu-item" *ngFor="let list of lists" routerLinkActive="is-active" [routerLink]="['/lists', list._id]">
            <a class="list">
              <div class="list-text">
                <p>{{ list.title }}</p>
              </div>
            </a>
            <div class="list-buttons">
              <button class="button is-danger" style="margin-right: 0.5rem" (click)="onDeleteList(list._id, $event)">
                <div class="icon">
                  <i class="fas fa-trash"></i>
                </div>
              </button>
              <button class="button" (click)="editList(list._id, $event)">
                <div class="icon">
                  <i class="fas fa-pen"></i>
                </div>
              </button>
            </div>
          </div>

        </div>
        <div *ngIf="lists.length === 0">
          <h3 class="empty-state-text is-4">Please create a new list.</h3>
        </div>
      </div>

      <button class="button is-primary has-text-white" (click)="addNewList()">+ New List</button>

    </div>

    <div class="task-list-container has-background-light">
      <div *ngIf="tasks">
        <h1 class="title has-text-primary">
          Tasks
        </h1>

        <!-- Task Elements -->
        <div class="task" *ngFor="let task of tasks" (click)="onTaskClick(task)" [ngClass]="{ 'completed': task.completed }">
          <div class="task-text">
            <p>{{ task.title }}</p>
          </div>
          <div class="task-buttons">
            <button class="button is-danger" style="margin-right: 0.5rem" (click)="onTaskDelete(task, $event)">
              <div class="icon">
                <i class="fas fa-trash"></i>
              </div>
            </button>
            <button class="button" *ngIf="!task.completed" (click)="editTask(task, $event)">
              <div class="icon">
                <i class="fas fa-pen"></i>
              </div>
            </button>
          </div>
        </div>

        <h3 class="empty-state-text is-4" *ngIf="tasks.length === 0">There are no tasks in this list</h3>

        <button *ngIf="selectedListId" class="circle-add-button button is-primary" (click)="addNewTask(selectedListId)">
          <mat-icon class="circle-add-button-icon has-text-white">add</mat-icon>
        </button>
      </div>
      <div *ngIf="!tasks">
        <h3 class="empty-state-text is-4">Please select a list from the sidebar</h3>
      </div>

    </div>
  </div>
</div>